<div data-role="header">
  <h1><%= @unit.name %></h1>
  <%= link_to 'Units', units_url, "class" => "ui-btn-right" %>
</div>

<div data-role="content">
  <%=button_to "On", unit_status_path(@unit, :value=>"on"), :method => :put %>
  <%=button_to "Off", unit_status_path(@unit, :value=>"off"), :method => :put %>
  <%=button_to "Edit", edit_unit_path(@unit), :method => :get %>
  <%=button_to "delete", unit_path(@unit), :method => :delete %>
</div>

